
<div *ngIf="requestRemoteCommand">
    <h2><span>Request Remote Command</span> {{requestRemoteCommand.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Description</span></dt>
        <dd>
            <span>{{requestRemoteCommand.description}}</span>
        </dd>
        <dt><span>Command</span></dt>
        <dd>
            <span>{{requestRemoteCommand.command}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{requestRemoteCommand.status}}</span>
        </dd>
        <dt><span>Node</span></dt>
        <dd>
            <div *ngIf="requestRemoteCommand.node">
                <a [routerLink]="['/node', requestRemoteCommand.node?.id]">{{requestRemoteCommand.node?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'request-remote-command/'+ requestRemoteCommand.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>

<div *ngIf="responseRemoteCommands">
    <div *ngFor="let responseRemoteCommand of responseRemoteCommands ;trackBy: trackId">

            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a [routerLink]="['/response-remote-command', responseRemoteCommand.id]">
                                {{responseRemoteCommand.whenExecuted | date:'medium'}}
                            </a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">code return: {{responseRemoteCommand.codReturn}}</h6>
<pre>
{{responseRemoteCommand.logResult}}
</pre>                                                            

                    </div>
                </div>        
    </div>
</div>
