<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome to Remotnitoring !</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>
        </div>

        <ul>
            <li><a href="https://github.com/fmunozse/remotnitoring/blob/master/README.md" target="_blank" rel="noopener">
                See the server project in github</a></li>
            <li><a href="https://github.com/fmunozse/remotnitoring-client-python" target="_blank" rel="noopener">
                Client on python in github</a></li>
            <li><a href="https://github.com/fmunozse/remotnitoring-client" target="_blank" rel="noopener">
                Client on java in github</a></li>                
        </ul>

    </div>
</div>
