
<div class="row">
    <div class="col-md-3" *ngFor="let nodeCard of nodeCards">
            <div class="card">
               <div class="card-body">
                    <h4 class="card-title">{{nodeCard.nodeName}}</h4>
                    <p class="card-text">
                            <h1 class="text-center"><span class="badge badge-pill badge-primary">{{nodeCard.numHeartbeats}}</span></h1>
                    </p>
                    <footer class="blockquote-footer">
                        Last {{nodeCard.lastHeartbeat | date:'medium' }} - id: {{nodeCard.nodeId}}
                    </footer>
                </div>
            </div>
    </div>        
</div> 


<p>
    &nbsp;
</p>


<div class="table-responsive">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Node</th>
              <th>time</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let echo of echos">
              <td>{{echo.nodeName}}</td>
              <td>{{echo.lastHeartbeat | date:'medium'  }}</td>
          </tr>
      </tbody>
  </table>
</div>