
<div class="row">
    <div class="col-md-3" *ngFor="let nodeCard of nodeCards">
            <div class="card">
               <div class="card-body">
                    <h4 class="card-title">
                        <a [routerLink]="['../node', nodeCard.nodeId ]" >
                            {{nodeCard.nodeName}}
                        </a>
                    </h4>
                    <p class="card-text">
                            <h1 class="text-center"><span class="badge badge-pill badge-primary">{{nodeCard.numHeartbeats}}</span></h1>
                    </p>
                    <footer class="blockquote-footer">
                        Lastest {{nodeCard.lastHeartbeat | date:'medium' }}
                    </footer>
                </div>
            </div>
    </div>        
</div> 


<p>
    &nbsp;
</p>

<div class="row">
    <div class="col-md-11">
        <nvd3 #nvd3 [options]="pingChartOptions" [data]="pingChartData" class="with-3d-shadow with-transitions"></nvd3>        
    </div>
</div>


<p>
        &nbsp;
</p>
    

<div class="table-responsive">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Node</th>
              <th>time</th>
              <th>IP</th>
          </tr>
      </thead>
      <tbody>
          <tr class="echo-monitor-animation" *ngFor="let echo of echos">
              <td>{{echo.nodeName}}</td>
              <td>{{echo.lastHeartbeat | date:'medium'  }}</td>
              <td>{{echo.ip}}</td>
          </tr>
      </tbody>
  </table>
</div>